.how-work {
  padding: 6.15% 0;

  color: #fff;
  background-color: #2e4883;
  & p {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 35px;
  }
}

.how-work-wrap {
  display: flex;

  max-width: 1050px;
  margin: 0 auto;
  padding-top: 40px;

  flex-wrap: wrap;
  justify-content: space-between;
  & .how-work-item {
    position: relative;

    width: 290px;
    height: 290px;
    margin-bottom: 60px;
    padding: 115px 25px 60px;

    text-align: center;



    color: #28406f;
    border-radius: 50%;
    outline: none;
    background-color: #fff;

    font-size: 14px;

    font-weight: 600;

    line-height: normal;

    flex-shrink: 0;
    &:before {
      position: absolute;
      top: 15%;
      left: 40%;

      display: block;

      content: '';

      background: url('../img/spritesheet.png') no-repeat;

    }
    &:nth-child(1):before {
      width: 72px;
      height: 45px;

      background-position: -5px -5px;
    }
    &:nth-child(2):before {
      width: 66px;
      height: 55px;
      background-position: -87px -5px;
    }
    &:nth-child(3):before {
      width: 63px;
      height: 63px;
      background-position: -163px -5px;
    }
    &:nth-child(4):before {
      width: 64px;
      height: 60px;
      background-position: -236px -5px;
    }
    &:nth-child(5):before {
      width: 53px;
      height: 57px;
      background-position: -310px -5px;
    }
    &:nth-child(6):before {
      width: 67px;
      height: 50px;
      background-position: -373px -5px;
    }
  }
}